<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="{% static 'userauth/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'userauth/css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'userauth/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'userauth/css/camera.css' %}"/>
    <link rel="stylesheet" href="{% static 'userauth/css/owl.carousel.css' %}"/>
    <link rel="stylesheet" href="{% static 'userauth/css/user_history.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">
    <script src="{% static 'userauth/js/jquery.js' %}"></script>
    <script src="{% static 'userauth/js/jquery-migrate-1.2.1.js' %}"></script>
    <script src="{% static 'userauth/js/jquery.equalheights.js' %}"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{% static 'userauth/js/jquery.mobile.customized.min.js' %}"></script>
    <!--<![endif]-->
    <script src="{% static 'userauth/js/camera.js' %}"></script>
    <script src="{% static 'userauth/js/owl.carousel.js' %}"></script>
    <script src="{%static 'userauth/js/device.min.js' %}"></script>
    <script src="{%static 'userauth/js/jquery.cookie.js' %}"></script>
    <script src="{%static 'userauth/js/tmstickup.js' %}"></script>
    <script src="{%static 'userauth/js/jquery.easing.1.3.js' %}"></script>
    <script src="{%static 'userauth/js/jquery.ui.totop.js' %}"></script>
    <script src="{%static 'userauth/js/jquery.mousewheel.min.js' %}"></script>
    <script src="{%static 'userauth/js/jquery.simplr.smoothscroll.min.js' %}"></script>
    <script src="{%static 'userauth/js/superfish.js' %}"></script>
    <script src="{%static 'userauth/js/jquery.mobilemenu.js' %}"></script>
    <script src="{%static 'userauth/js/jquery.unveil.js' %}"></script>

</head>
<body>
<div class="page">
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
              <div class="" width="100%">
                  <div class="brand put-left" float="left">
                      <h1>
                          <a href="{% url 'home' %}">
                              <img src="{% static 'userauth/images/logo.jpg' %}" alt="Logo" width="300px" height="49px"/>
                          </a>
                      </h1>
                  </div>
                  <nav class="nav put-right" float=right>
                      <ul class="sf-menu">
                          <li class="current"><a href="index.html">Home</a></li>
                          <li>
                              <a href="">About</a>

                          </li>
                          <li><a href="">How It Works</a></li>

                          {% if user.is_authenticated %}
                          <li><a href="{% url 'home' %}">My Account</a>
                          <ul>
                            <li>
                              <a href="{% url 'register_edit' pk=request.user.pk %}">My Profile</a>
                            </li>

                            <li>
                              {% if user.is_superuser %}
                              <a href="{% url 'user_history' %}">Customer History</a>
                              <a href="{% url 'select_zone' %}">Edit Zone</a>
                              {% else %}
                              <a href="{% url 'user_history' %}">User History</a>
                              {% endif %}
                            </li>
                            {% if user.is_superuser %}
                            <li>
                              <a href="/admin/">Manage Customers</a>
                            </li>
                            {% endif %}
                            <li>
                              <a href="{% url 'logout' %}">Logout</a>
                            </li>
                          </ul>
                        </li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login/Register</a></li>
                        {% endif %}
                          <li><a href="{% url 'upload' %}">Upload Advertisement</a></li>

                      </ul>
                  </nav>
              </div>
            </div>
        </div>
    </div>
</header>
<section id="content">
<div class="container">

{% block content %}
{% endblock %}
</div>
<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                Get in Touch
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                    <li><a class="fa fa-pinterest" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
</div>

<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
    <div class="container">
        <div class="b_row">
            <div class="grid_7" align=centre>
                <p class="info text_4 color_4">
                  <a href="#">Terms and Conditions</a> | <a href="#">Privacy</a>| <a href="">Contact us</a>| <a href="/userauth/device">Device Login</a> <br />Copyright@InnovatAd
                </p>

            </div>
        </div>
    </div>
</footer>
<script src="{% static 'userauth/js/script.js' %}"></script>
</body>
</html>
