{% extends 'userauth/base.html' %}
      {% block content %}
{% if not user.is_authenticated %}
<p>You can't Edit.First Login With your current credentials and then edit.</p>
{% else %}
        {% if Edit == 1 or Edit == 3 %}
         <strong>Your Profile is Edited!</strong>
        {% else %}
         <strong>Edit Your  Profile!</strong><br />
        <form id="user_form" method="post" action="/userauth/register_edit/"
                enctype="multipart/form-data">

            {% csrf_token %}
                {% if Edit == 0 or Edit == 2 %}
		<label for="{{ user_form.username.id_for_label }}">User Name:</label>
                        {{ user_form.username }}
                <label for="{{ user_form.email.id_for_label }}">Email-Id:</label>
                        {{ user_form.email }}
                <label for="{{ user_form.password.id_for_label }}">Password:</label>
                        {{ user_form.password }}
		{% endif %}
		{% if Edit == 0 %}
                <label for="{{ profile_form.subject.id_for_label }}">Phone Number:</label>
                        {{ profile_form.phone_number }}
                <label for="{{ profile_form.address.id_for_label }}">Address:</label>
                        {{ profile_form.address }}
                <label for="{{ profile_form.first_name.id_for_label }}">First Name:</label>
                        {{ profile_form.first_name }}
                <label for="{{ profile_form.last_name.id_for_label }}">Last Name:</label>
                        {{ profile_form.last_name }}
                 <label for="{{ user_form.ad_type.id_for_label }}">Buiseness Name:</label>
                        {{ user_form.ad_type }}
                <label for="{{ user_form.city.id_for_label }}">City:</label>
                        {{ user_form.city }}
                <label for="{{ user_form.pincode.id_for_label }}">Pincode:</label>
                        {{ user_form.pincode }}
		 {% endif %}
                <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
        {% endif %}
{% endblock %}
