{% extends 'userauth/base.html' %}
      {% block content %}
        <h1>Upload Advertisement</h1>

        {% if uploaded %}
        userauth says: <strong>thank you for uploading!</strong>
	<a href="/userauth/upload">Upload More Advertisements.</a><br />
        <a href="/userauth/upload">Return to the homepage.</a><br />
        {% else %}
        userauth says: <strong>upload here!</strong><br />

        <form  method="post" action="/userauth/upload/"
                enctype="multipart/form-data">

            {% csrf_token %}


            {{ form.as_p }}

            <input type="submit" name="submit" />
        </form>
        {% endif %}
{% endblock %}

