{% extends 'userauth/base.html' %}
{% load static %}
      {% block content %}
        {% if user.is_authenticated %}
        {% if uploaded %}
        <strong>thank you for uploading!</strong>
	<a href="/userauth/upload">Select for Adding More Advertisements.</a><br />
        {% else %}
         <h1 class="page-header">Upload Advertisement</h1>
        <!-- code added by me -->
        <link rel="stylesheet" href="http://openlayers.org/en/v3.18.2/css/ol.css" type="text/css"></link>
        <script src="http://openlayers.org/en/v3.18.2/build/ol.js"></script>
        <link rel="stylesheet" type="text/css" href="{%static 'userauth/css/upload_advertisement/getUserLocation.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <div class="row">

<div class="col-md-7">
  <div class="row">

      <div class="col-md-10">
          <input type="text" id="address" name="FirstName" placeholder="Enter the address" class=form-control>
        </div>
        <div class="col-md-2">

         <button type="button" id="find_address" class="btn btn-default">Find</button> <br>
       </div>
       </div>


<br/>

        <form  method="post" action="/userauth/upload/"
                enctype="multipart/form-data">

            {% csrf_token %}
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

                {% if user.is_superuser %}
                <label for="{{ form.uploader.id_for_label }}">Uploader</label>
                       {{ form.uploader}} <br />
                 {% endif %}
                 <div class="row">
                 <div class="col-md-6">

                <label for="{{ form.upload_Advertisement.id_for_label }}">Upload Advertisement</label>
                    	{{ form.upload_Advertisement }}
                    </div>
                    <div class="col-md-6">

                <label for="{{ form.time_of_advertisement.id_for_label }}">Time Of Advertisement</label>
                        {{ form.time_of_advertisement }}
                      </div>
                    </div><br />
                      <div class="row">
                      <div class="col-md-4">

                <label for="{{ form.no_of_repeats.id_for_label }}">Number of Repeats</label>
                        {{ form.no_of_repeats}}
                      </div>
                      <div class="col-md-4">
                <label for="{{ form.select_bundles.id_for_label }}">Select Bundles</label>
                        {{ form.select_bundles}}
                      </div>
                      <div class="col-md-4">
                        <label for="{{ form.no_of_slots.id_for_label }}">Slots</label>
                        {{ form.no_of_slots}}
                      </div>
                    </div></br>
                      <div class="row">
                        <div class="col-md-8">
                          <label for="{{ form.start_week.id_for_label }}">Start Week</label>
                            {{ form.start_week}}

                      </div>
<div class="col-md-4">

  <label for="{{ form.no_of_weeks.id_for_label }}">Number of Weeks:</label>
          {{ form.no_of_weeks}}

                                                                      </div>
                                                                    </div>

<br /><br />
{{ form.bussinessPoint_longitude }}
{{ form.bussinessPoint_latitude }}
            <input type="submit" name="submit" class="btn btn-primary" />
        </form>


         {% endif %}
         {% else  %}
          <p>Your don't have access to this page. To proceed,
     please login with an account that has access.</p>
         {% endif %}
</div>
<div class="col-md-4">
    <div id="map" class="map" tabindex="0" style="height:500px;width:500px"></div>

    <button id="zoom-out" class="btn btn-default">Zoom out</button>
    <button id="zoom-in" class="btn btn-default">Zoom in</button>
</div>
     </div>
     <!--script to automatically detect no of slots -->
          <script src="{%static 'userauth/js/no_slots.js' %}"></script>
         <script src="{%static 'userauth/js/upload_advertisement/getUserLocation.js' %}"></script>
         <!-- coded added by me ends here -->


{% endblock %}
