{% extends 'userauth/base.html' %}
      {% block content %}
{% if not user.is_authenticated %}
<p>Please Log-In</p>
{% else %}
<div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            User History
          </h4>
        </div>
        <table class="table table-fixed">
          <thead>
            <tr>
              {% if user.is_superuser %}
              <th class="col-xs-1">Uploader</th>
              {% endif  %}
              <th class="col-xs-1">Advertisement ID</th>
              <th class="col-xs-1">Advertisement Time</th>
              <th class="col-xs-1">Slots Purchased</th>
              <th class="col-xs-1">Bundles Purchased</th>
              <th class="col-xs-1">No of Weeks</th>
              <th class="col-xs-1">Date of Purchase</th>
              <th class="col-xs-1">Start Week</th>
              <th class="col-xs-1">Repetitions</th>
              <th class="col-xs-1">Amount Paid</th>
              <th class="col-xs-1">Business Longitude</th>
              <th class="col-xs-1">Business Latitude</th>
            </tr>
          </thead>
          <tbody>
            {% for ad in advertisment %}
                      <tr>
                        {% if user.is_superuser %}
                        <td class="col-xs-1">{{ad.uploader}}</td>
                        {% endif %}
                        <td class="col-xs-1">{{ad.id}}</td>
                        <td class="col-xs-1">{{ad.time_of_advertisement}}</td>
                        <td class="col-xs-1">{{ad.no_of_slots}}</td>
                        <td class="col-xs-1">{{ad.select_bundles}}</td>
                        <td class="col-xs-1">{{ad.no_of_weeks}}</td>
                        <td class="col-xs-1">{{ad.date}}</td>
                        <td class="col-xs-1">{{ad.start_week}}</td>
                        <td class="col-xs-1">{{ad.no_of_repeats}}</td>
                        <td class="col-xs-1">{{ad.amount_paid}}</td>
                        <td class="col-xs-1">{{ad.bussinessPoint_longitude}}</td>
                        <td class="col-xs-1">{{ad.bussinessPoint_latitude}}</td>

                      </tr>
                      {% endfor %}
                    </tbody>
      </table>
    </div>
</div>
<div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
          Files Uploaded
          </h4>
        </div>
        <table class="table table-fixed">
          <thead>
            <tr>
              {% if user.is_superuser %}
              <th class="col-xs-2">Advertisement ID</th><th class="col-xs-4">Uploader</th><th class="col-xs-3">File</th><th class="col-xs-3">
                Date
              </th>
              {% else %}
              <th class="col-xs-2">Advertisement ID</th><th class="col-xs-5">File</th><th class="col-xs-5">
                Date
              </th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for ad in ads %}
            {% if user.is_superuser %}
            <tr>
              <td class="col-xs-2">
                {{ad.id}}
              </td>
              <td class="col-xs-4">
                {{ad.uploader}}
              </td>
              <td class="col-xs-3">
                {{ad.UploadAdvetisement}}
              </td>
              <td class="col-xs-3">
                {{ad.date}}
              </td>
            </tr>
            {% else %}
            <tr>
              <td class="col-xs-2">
                {{ad.id}}
              </td>

              <td class="col-xs-5">
                {{ad.UploadAdvetisement}}
              </td>
              <td class="col-xs-5">
                {{ad.date}}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
      </table>
    </div>
</div>
