{% extends 'userauth/base.html' %}
{% load static %}
  {% block content %}
  <br /><br />
  <br /><br />
  <div class="panel panel-primary">
    <div class="panel-heading">Enter New Values For Cost and Bundles</div>
    <div class="panel-body">
          <form action="/ssad14/edit_zone/{{zone_no}}/" method="post">
        {% csrf_token %}
        <div class="row">
        <div class="col-md-4">

        New Cost:
      </div>
      <div class="col-md-4">

          {{ form.cost }}
        </div>
      </div> <br />
        <div class="row">
        <div class="col-md-4">

        Select number of bundles:
      </div>
      <div class="col-md-4">

          {{ form.no_of_bundles }}
        </div>
      </div><br />
        <div class="row">
        <div class="col-md-4">

        Select week no.:
      </div>
      <div class="col-md-4">

          {{ form.week }}
        </div>
        </div>
<br /><br />

        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>
  </div>
      {% endblock %}
